@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dancing+Script:wght@600&family=Edu+SA+Beginner:wght@400;600&family=Foldit:wght@100&family=Fondamento:ital@1&family=Instrument+Serif:ital@1&family=Markazi+Text:wght@500&family=Merriweather:wght@300&display=swap');

body {
  font-family: 'Charm', cursive;
  font-size: 1.4rem;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}